<div class="container">
  <table class="table mt-5">
    <tbody class="fs-3">
      <tr>
        <th scope="row">点検名</th>
        <td><%= @inspection.name %></td>
      </tr>
      <tr>
        <th scope="row">備考</th>
        <td><%= @inspection.comment %></td>
      </tr>
      <tr>
    </tbody>
  </table>
  <% @inspection.items.each do |item| %>
    <div class="card">
      <div class="card-header">
        <h6>項目名：<%= item.name %></h6>
      </div>
      <table class="table mt-2">
        <tbody>
          <tr>
            <th scope="row">実施日   :</th>
            <td><%= item.do_day %></td>
          </tr>
          <tr>
            <th scope="row">通知日   :</th>
            <td><%= item.notice_day %></td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= link_to "設定内容を変更する", edit_main_inspection_path, class: 'btn btn-outline-primary float-end ms-1 mt-1'%>
  <%= link_to "点検を削除する", main_inspection_edit_destroy_path(@inspection.id), class: 'btn btn-outline-danger float-end mt-1'%>
</div>