<div class="container">
  <h2 class="text-center mt-2">新しいパスワードを設定する</h2>
  <div class="card card-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="field">
        <%= f.label :password, "新しいパスワード" %><br />
        <% if @minimum_password_length %>
          <em>( <%= @minimum_password_length %> 字以下 )</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワードの確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <%= f.submit "新しいパスワードを設定する", class: "btn btn-primary btn-block btn-new mt-2"%>
      <%= render "shared/links", class: "mt-2"%>
    <% end %>
  </div>
</div>
