<%= @user.name %>様 定期点検Checkerよりお知らせです。
===============================================

近日中に予定している点検がございます。

点検名:  <%= @inspection.name %>
点検項目: <%= @item.name %>
点検予定日: <%= @item.do_day %>
<% if @inspection.present? %>
備考:
<%= @inspection.comment %>
<% end %>

<p>このサイトにログインするには、<%= link_to "点検checker", @root_url %>をクリックしてください。</p>
