<button type="button" class="btn btn-outline-secondary btn-new-inspection mx-2 my-2" data-bs-toggle="modal" data-bs-target="#NewInspectionModal" data-bs-whatever="@mdo">+</button>

<div class="modal fade" id="NewInspectionModal" tabindex="-1" aria-labelledby="NewInspectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title float-center fs-1" id="NewInspectionModalLabel">予定の新規作成</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: @new_inspection, url: main_inspections_path, method: :post, local: false, id: 'inspection-form', remote: true) do |inspection_form| %>
        <%= render "shared/error_messages", resource: @new_inspection %>
        <div class="modal-body">
          <!-- inspection-form -->
          <div class="inspection-container border border-secondary border-2 rounded mb-4">
            <h5 class="bg-secondary py-1 text-center text-white fs-3">点検対象</h5>
            <div class="px-2">
              <div class="field mb-3">
                <%= inspection_form.label "点検名", class: "col-form-label" %><span> :</span>
                <%= inspection_form.text_field :name, autofocus: true, class: "form-control" %>
              </div>
              <div class="field mb-3">          
                <%= inspection_form.label "備考", class: "col-form-label" %><span> :</span>            
                <%= inspection_form.text_area :comment, autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>
          <!-- item-form -->
          <div id="items" class="inspection-container border border-secondary border-2 rounded mb-3">
            <div class="items-list pb-3 mb-2">
              <h5 class="bg-secondary py-1 text-center text-white fs-3">項目</h5>
              <%= inspection_form.fields_for :items do |item_form| %>
                <%= render "main/home/item_fields", f: item_form %>
              <% end %>
              <div class="d-flex justify-content-end container mt-3">
                <%= link_to_add_association 'add task', inspection_form, :items, partial: 'main/home/item_fields', class: 'btn btn-outline-primary btn-sm float-end'%>
              </div>
            </div>
          </div>
          <div class="modal-footer container pt-5">
            <div class="d-flex align-items-center pb-3 pe-2">
              <lavel class="pe-3">googleアカウントと連携する</lavel>
              <%= inspection_form.check_box :google_api_alignment , class: "inspection-checkbox"%>
            </div>
            <div class="ms-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= inspection_form.submit "create", data: { confirm: "保存してもよろしいですか？", disable_with: "保存中" }, class: "btn btn-primary ms-2" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
