<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'toplogo.png', hight: '5' %>
    <% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">    
      <div class="navbar-nav">
        <% if main_user_signed_in? %>
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%= link_to "all_notice", main_inspections_path, class: "nav-link" %>
          <a class="nav-link" href="#">my-page</a>
          <a class="nav-link" href="#">cofig</a>
          <%= render 'main/home/create_inspection_modal' %>
        <% end %>
      </div>
      
      <% if main_user_signed_in? %>
        <div class="d-flex align-items-baseline">
          <div class="me-2">
            <span>ユーザー名  :</span><span class="ms-1"><%= current_main_user.name %></span>
          </div>
          <%= link_to "Sign out", destroy_main_user_session_path, method: :delete, class: 'btn btn-outline-secondary'%>
        </div>
      <% else %>
        <%= link_to "Sign in", new_main_user_session_path,class: 'btn btn-outline-secondary'%>
      <% end %>
    </div>
  </div>
</nav>