<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'toplogo.png', hight: '5' %>
    <% end %>
    <% if main_user_signed_in? %>
      <%= render 'main/home/create_inspection_modal' %>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="display-oncolapse">
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%= link_to "all notice", main_inspections_path, class: "nav-link" %>
          <%= link_to "my config", main_users_user_path(id: current_main_user.id), class: "nav-link" %>
          <div class="mx-2 ms-3 d-flex">
            <span class="mt-2">ユーザー名  : <%= current_main_user.name %></span>
            <%= button_to "Sign out", destroy_main_user_session_path, method: :delete, class: 'btn btn-outline-secondary ms-2'%>
          </div>
          <div class="ms-1">
          </div>
        </div>
      </div>
        
      <div class="display-noncolapse w-100 justify-content-between">
        <div class="navbar-nav ">
          <% if main_user_signed_in? %>
            <%= link_to "Home", root_path, class: "nav-link" %>
            <%= link_to "all notice", main_inspections_path, class: "nav-link" %>
            <%= link_to "my config", main_users_user_path(id: current_main_user.id), class: "nav-link" %>
          <% end %>
        </div>
        <div class="navbar-nav d-flex ">
          <div class="me-2">
            <span>ユーザー名  : <%= current_main_user.name %></span>
          </div>      
          <%= button_to "Sign out", destroy_main_user_session_path, method: :delete, class: 'btn btn-outline-secondary'%>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign in", new_main_user_session_path,class: 'btn btn-outline-secondary'%>
    <% end %>
  </div>
</nav>